:root {
  --gameScale: 1;
}

html, body {
  overflow: hidden;
}

.row-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col-div {
  display: flex;
  flex-direction: column;
}

/* ui ******************************************/
.ui-layer {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ui-layer * {
  pointer-events: auto;
}

#header {
  z-index: 10;
}
#header * {
  position: absolute;
}

/* game ui positioning ******************************/
#main-game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
}

/* overrides for mobile app *************************/
@media only screen and (orientation: portrait) {
  #app h1 {
    font-size: 1.5rem;
    margin-bottom: 1vh;
  }
  body {
    display: flex;
    align-items: flex-end;
    height: 63vh;
    min-height: 0;
  }
  #options-bar .htp .mobile {
    display: block;
  }
  .htp .desktop {
    display: none;
  }
  #mobile-controls .grid {
    display: grid;
  }
  #options-bar .container {
    height: 37vh;
    width: 100vw;
  }
  #options-bar .container .tab-content {
    height: 100%;
  }
}
