:root {
  --gameScale: 1;
}

.row-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col-div {
  display: flex;
  flex-direction: column;
}

/* ui ******************************************/
.ui-layer {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ui-layer * {
  pointer-events: auto;
}

#header {
  z-index: 10;
}
#header * {
  position: absolute;
}

/* game ui positioning ******************************/
#main-game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
}

/* overrides for mobile app *************************/
@media only screen and (orientation: portrait) {
  h1 {
    color: red;
  }
}
