.row-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col-div {
  display: flex;
  flex-direction: column;
}


/* field ***************************************/
#field-container {
  width: fit-content;
  height: fit-content;
  position: relative;
}

#field {
  display: grid;
  /* grid-gap: 5px; */
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
}

#field .cell {
  background-color: rgb(207, 255, 112);
  width: 30px;
  height: 30px;
  position: relative;
}

#field .cell img {
  width: 100%;
  height: 100%;
}

#field .plant {
  position: absolute;
  width: 30px;
  height: 50px;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

#field .plant img {
  width: 100%;
  height: auto;
}

/* player **************************************/
#player img {
  width: 30px;
  height: auto;
  position: absolute;
  transform-origin: bottom center;
}

#player {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}